{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/car-key-chainz.myshopify.com/products/configure/161075/edit
{% endcomment %}
{% if product.metafields.custom_fields["delivery_time"] != blank %}
  <div class="custom-field custom-field__delivery-time custom-field__type--text">
    <h3 class="custom-field--title">Delivery time</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["delivery_time"] }}
    </div>
  </div>
{% endif %}