{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/car-key-chainz.myshopify.com/products/configure/228800/edit
{% endcomment %}
{% if product.metafields.custom_fields["installation_video"] != blank %}
  <div class="custom-field custom-field__installation-video custom-field__type--text">
    <h3 class="custom-field--title">Installation Video</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["installation_video"] }}
    </div>
  </div>
{% endif %}