<div class="section-padding pro-description-section dark-bg">
  <div class="Container">
    <div class="Grid Grid--center big-grid">
      <div class="Grid__Cell pro-video-col">
        <div class="video-iframe-wrap">
          
            {% if section.settings.image != blank %}
              <img  id="accessories_video_cover" src="{{ section.settings.image | img_url: 'master' }}" alt="Video title">
            {% endif %}
            {% if section.settings.video_url != blank %}
              <iframe id="accessories_player" width="560" height="315" src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            {% endif %}
            <button id="accessories_play" class="play-btn">
                <svg width="97" height="97" viewBox="0 0 97 97" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M41 39.7876V59.2126C41 60.6939 42.6313 61.5939 43.8875 60.7876L59.15 51.0751C59.4172 50.906 59.6373 50.6721 59.7898 50.395C59.9423 50.118 60.0223 49.807 60.0223 49.4907C60.0223 49.1745 59.9423 48.8634 59.7898 48.5864C59.6373 48.3094 59.4172 48.0755 59.15 47.9064L43.8875 38.2126C43.6047 38.0297 43.2778 37.9265 42.9412 37.9139C42.6046 37.9013 42.2709 37.9798 41.9752 38.1411C41.6795 38.3024 41.4328 38.5405 41.2612 38.8303C41.0896 39.1201 40.9993 39.4508 41 39.7876Z" fill="white"/>
                  <circle cx="48.5" cy="48.5" r="47.5" stroke="white" stroke-opacity="0.8" stroke-width="2"/>
              </svg>
            </button>
          
        </div>
      </div>
      {% if section.settings.title != blank %}
        <div class="Grid__Cell pro-description-col">
          <h2>{{ section.settings.title }}</h2>
          {% if product.description != blank %}
            {{ product.description }}
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#accessories_play').on('click', function(e) {
	e.preventDefault();
	$("#accessories_player")[0].src += "?autoplay=1";
	$('#accessories_player').show();
	$('#accessories_video_cover').hide();
	$('#accessories_play').hide();
  })
</script>

{% schema %}
  {
    "name": "Accessories Video Left",
    "settings": [
	  {
        "type": "textarea",
        "id": "title",
        "label": "Add Heading",
        "default": "Heading"
      },
	  {
        "type": "video_url",
        "id": "video_url",
        "label": "YouTube link",
        "accept": ["youtube"],
		"info": "Note : https://youtu.be/VKD1WeA1_aQ"
      },
	  {
        "type": "image_picker",
        "id": "image",
        "label": "Video Image",
        "info": "1500 x 800px .jpg recommended"
      }
	]
  }
{% endschema %}
