<section class="instagram-feed section-padding">
  <div class="Container">
    <header class="SectionHeader SectionHeader--center">
      <h2 class="SectionHeader__Heading shadow-bottom">#DYNA ON INSTAGRAM</h2>
    </header>
    <div id="insta-feed"></div>
  </div>
</section>

{% schema %}
  {
    "name": "Instagram feed",
    "settings": [],
  "presets": [
      {
        "name": "Instagram feed",
        "category": "Image"
      }
    ]
  }
{% endschema %}